<!--The content below is only a placeholder and can be replaced.-->
<h1>
  {{ title }}!
</h1>
<nav>
  <!-- link to dashboard -->
  <a routerLink="/dashboard">Dashboard</a>
  <!-- /heroes is the path router takes to HeroesComponent -->
  <a routerLink="/heroes">Heroes</a>
</nav>
<!-- <app-heroes></app-heroes> gets replaced with router outlet because Heroes Component will only be displayed when it is navigated to-->
<!-- RouterOutlet is a router directive that is available to AppComponent because AppModule imports AppRoutingModule which exported RouterModule -->
<router-outlet></router-outlet>
<app-messages></app-messages>
