<!DOCTYPE html>
<html>
<body>  
  <main role="main" class="container">
    <div class="starter-template">
      <h1>Foster. Community. Connect.</h1>
      <p class="lead">Bridging the gap between central oregon and it's children in foster care.
      </p>
      <h3>Donation Form</h3>
  </div>
  <form #donationForm="ngForm">
      <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="firstName" placeholder="Enter first name" required [(ngModel)]="model.firstName" name="firstName">{{model.firstName}}
      </div>
      <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="lastName" placeholder="Enter last name" required required [(ngModel)]="model.lastName" name="lastName">{{model.lastName}}
      </div>
      <div class="form-group">
          <label for="email">Email address</label>
          <input type="text" class="form-control" id="email" placeholder="Enter email" required>
      </div>
      <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input type="text" class="form-control" id="phoneNumber" placeholder="Enter phone number" required>
      </div>
      <div class="form-group">
          <label for="description"><h6>What item(s) are you donating?</h6></label>
          <textarea class="form-control" id="description" input type="text" rows="10" required></textarea>
      </div>
      <hr class="mb-4">
      <button (click)="logText()" class="btn btn-success btn-lg btn-block" type="submit" value="submit">Submit Donation</button>
      <p><br></p>
    </form>
  </main>
  <!-- /.container -->
</body>
</html>
